/data/raw/ptt*/*.json
/data/raw/weibo/*.csv
.ipynb_checkpoints
*test*
.Rproj.user
NotoSansMonoCJKtc.otf
rsconnect
ptt*.zip
ptt_taiwan
*_full.csv
*_cache
*_file
keyterm_annotated_wv_train.txt
keyterm_annotated_lsa.csv
doc_annotated_lsa.csv
time_sliced_collapsed/*.txt
ptt_sampled.csv
weibo_sampled.csv
